<div class="quiz">
  <div class="quiz-details">
    <div class="quiz-image">
      <img src="https://picsum.photos/50/50?image={{quiz.Id}}"
           alt="{{quiz.Title}}" class="img-circle">
    </div>
    <div class="quiz-info-block">
      <div class="quiz-heading">
        <h2>{{quiz.Title}}</h2>
        <span class="help-block">{{quiz.Description}}</span>
        <!--<span class="help-block">Created by User # on
        {{quiz.CreatedDate}}</span>-->
      </div>
      <ul class="navigation">
        <li class="active">
          <a data-toggle="tab" href="#description">
            <i class="fa fa-user"></i>
            &nbsp; Beschreibung
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#stats">
            <i class="fa fa-chart-bar"></i>
            &nbsp; Stats
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#share">
            <i class="fa fa-share"></i>
            &nbsp; Share
          </a>
        </li>
      </ul>
      <div class="quiz-body">
        <div class="tab-content">
          <div id="description" class="tab-pane active">
            {{quiz.Text}}
          </div>
          <div id="stats" class="tab-pane">
            TO-DO
          </div>
          <div id="share" class="tab-pane">
            TO-DO
          </div>
        </div>
      </div>
      <div class="commands">
        <a [routerLink]="['/quiz', quiz.Id, 'take']"
           class="btn btn-success">
          <i class="fas fa-graduation-cap"></i>
          &nbsp; Take the Test!
        </a>
        <a [routerLink]="['/home']"
           class="btn btn-primary">
          <i class="fa fa-arrow-left"></i>
          &nbsp; Back
        </a>
        <div class="edit">
          <button (click)="onEdit()" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>
            Create the Quiz!
          </button>
          <button (click)="onDelete()" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--

<div *ngIf="quiz" class="quiz">
  <h2>{{quiz.Title}}</h2>
  <div>
    <img src="https://picsum.photos/150/150?image={{quiz.Id}}"
         alt="{{quiz.Title}}" class="img-circle" />
  </div>
  <hr />

  <ul>
    <li>
      <label>Title:</label>
      <input [(ngModel)]="quiz.Title" placeholder="Insert the title..." />
    </li>
    <li>
      <label>Description:</label>
      <textarea [(ngModel)]="quiz.Description"
                placeholder="Insert a suitable description..."></textarea>
    </li>
  </ul>
  <div>
    <input type="button" value="Edit" (click)="onEdit()" />
    <input type="button" value="Delete" (click)="onDelete()" />
  </div>
</div>
-->
