<!--<head>
  <link href="/Users/rde/RiderProjects/TestMaker/TestMakerFreeApp/ClientApp/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet"> &lt;!&ndash;load all styles &ndash;&gt;
</head>
<body>
<i class="fas fa-user">fadfasdf</i> &lt;!&ndash; uses solid style &ndash;&gt;
<i class="far fa-user">dfadsf</i> &lt;!&ndash; uses regular style &ndash;&gt;
<i class="fal fa-user">asdfasdf</i> &lt;!&ndash; uses light style &ndash;&gt;
&lt;!&ndash;brand icon&ndash;&gt;
<i class="fab fa-github-square">adfasdf</i> &lt;!&ndash; uses brands style &ndash;&gt;

</body>-->
<app-nav-menu></app-nav-menu>
<div class="container-fluid">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>
</div>
