.panel {
  margin-bottom: 10px;
  .panel-heading {
    color: #fe34a7;
    .glyphicon {
      float: right;
      font-size: 41px;
      color: #d61317;
    }
  }

  .panel-body {
    padding: 0;
    .list-group {
      margin: 0;
      .list-group-item {
        padding: 6px;
        overflow: auto;
        cursor: pointer;
        &:hover {
          background-color: #f5ccef;
          &:before {
            display: inline-block;
            float: right;
            font-size: 30px;
            margin: 4px 5px 0 0;
            color: #60a777;
          }
        }
        img {
          display: block;
          float: left;
          width: 40px;
          height: 40px;
          background-color: #ffffff;
          border: 1px solid #707d8c;
          padding: 2px;
          margin: 0 6px 0 0;
        }
      }
    }
  }
  &.latest {
    .panel-heading {
      background-color: #b0e3f5;
    }
    .panel-body {
      .list-group {
        .list-group-item {
          &:hover {
            background-color: #b0e3f5;
          }
        }
      }
    }
  }
  &.byTitle {
    .panel-heading {
      background-color: #f5e1d1;
    }
    .panel-body {
      .list-group {
        .list-group-item {
          &:hover {
            background-color: #f5e1d1;
          }
        }
      }
    }
  }
  &.random {
    .panel-heading {
      background-color: #c9f5ad;
    }
    .panel-body {
      .list-group {
        .list-group-item {
          &:hover {
            background-color: #c9f5ad;
          }
        }
      }
    }
  }
}
