ul.quizzes li {
  color: #1023cb;
  cursor: pointer;
}

ul.quizzes li {
  list-style-type: disc;
}

/* ab 768px Breite */
@media (min-width: 768px) {
  ul.quizzes li {
    color: #1023cb;
    cursor: pointer;
  }

  ul.quizzes li {
    list-style-type: circle;
  }
}
